<h1>Carousel: To be customized</h1>
<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <div class="orbit-wrapper">
    <div class="orbit-controls">
      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    </div>
    <ul class="orbit-container">
      <li class="is-active orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="https://placehold.it/1200x600/999?text=Slide-1" alt="Space">
          <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="https://placehold.it/1200x600/888?text=Slide-2" alt="Space">
          <figcaption class="orbit-caption">Lets Rocket!</figcaption>
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="https://placehold.it/1200x600/777?text=Slide-3" alt="Space">
          <figcaption class="orbit-caption">Encapsulating</figcaption>
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="https://placehold.it/1200x600/666&text=Slide-4" alt="Space">
          <figcaption class="orbit-caption">Outta This World</figcaption>
        </figure>
      </li>
    </ul>
  </div>
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
    <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
  </nav>
</div>

<section class="list-container">

  <section class="popular">
    <h3>Popular</h3>
    <ul>
      <li>#1 product</li>
      <li>#2 product</li>
      <li>#3 product</li>
      <li>#4 product</li>
      <li>#5 product</li>
    </ul>
  </section>

  <section class="outfits">
    <h3>Outfits</h3>
    <ul>
      <% @outfits.each do |outfit| %>
        <%= link_to image_tag(outfit.photo_url, alt: outfit.name), product_path(outfit.id) %>
      <% end %>
    </ul>
  </section>

  <section class="toys">
    <h3>Toys</h3>
    <ul>
      <% @toys.each do |toy| %>
        <%= link_to image_tag(toy.photo_url, alt: toy.name), product_path(toy.id) %>
      <% end %>
    </ul>
  </section>

  <section class="categories">
    <h4>Categories</h4>
    <ul>
      <% @categories.each do |category| %>
        <li><%= link_to category.name, category_products_path(category.id) %></li>
      <% end %>
    </ul>
  </section>

</section>
