<h3>User Account Page</h3>

<p>Add Categories button to be linked</p>
<p>Add Products button to be linked</p>
<p>List of products with details and buttons to be added</p>
<p>List of orders with details and buttons to be added</p>
<p>Statistics about revenue and orders to be added</p>
