<h3>Your order details</h3>
<!-- <% @cart.cartitem.each do |cartitem|%>
<ul>
  <li>cartitem.product.name</li>
  <li>cartitem.product.merchant.name</li>
  <li>cartitem.quantity</li>
  <li>cartitem.product.price</li>
</ul> -->
<%= render partial: "form" %>
