<section class="display-products">

  <h2>View all products</h2>
  <%= link_to "Add a new product", new_merchant_product_path(@merchant), class: "button float-right" %>

  <h4>Available Products</h4>
  <%= render partial: "order_table", locals: {
    data: @merchant.visible_products
  }
  %>

  <h4>Retired Products Products</h4>
  <%= render partial: "order_table", locals: {
    data: @merchant.invisible_products
  }
  %>
  
</section>
