<section class="show-merchant">
  <ul>
    <li>
      <%= @merchant.username %>
    </li>
    <li>
      Joined Alibonbon since: <%= @merchant.created_at %>
    </li>
    <li>
      Email: <%= @merchant.email %>
    </li>
    <li>
      All orders: <%=  %>
    </li>
  </ul>
</section>
