// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lowerbar {
  display: flex;
}
.lowerbar a {
  margin-left: 6px;
  margin-right: 6px;
}
