// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lowerbar {
  display: flex;
}
.lowerbar a {
  margin-left: 6px;
  margin-right: 6px;
}

.display-my-order {
  margin: 30px 150px;
  padding-bottom: 60px;
}

.display-my-order > ul {
  list-style-type: none;
}
.display-my-order .button {
  margin-right: 60px;
}

.table-head {
  height: 200px;
}

.display-products h4 {
  padding-left: 30px;
  font-weight: bold;
}
