// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lowerbar {
  display: flex;
}
.lowerbar a {
  margin-left: 6px;
  margin-right: 6px;
}

.display-my-order, .orders-display {
  margin: 30px 150px;
  padding-bottom: 60px;
}

.display-my-order > ul {
  list-style-type: none;
}
.display-my-order .button {
  margin-right: 60px;
}

.display-products h4 {
  padding-left: 30px;
  font-weight: bold;
  margin: 20px auto;
}

.table-orders .table-head .small {
  width: 200px;
}

 .display-products .double-button {
  margin-left: 30px;
  background-color: rgb(64, 34, 2);
  color: rgb(192, 242, 205);
  font-size: 1.5rem;
}

.display-products .double-button:hover {
 background-color: rgb(192, 242, 205);
 color: rgb(64, 34, 2);
}

.show-merchant .button {
  margin: auto 20px;
  background-color: rgb(64, 34, 2);
  color: rgb(192, 242, 205);
  font-size: 1.5rem;
}

.show-merchant .button:hover {
 background-color: rgb(192, 242, 205);
 color: rgb(64, 34, 2);
}

.orders-display .double-button {
 margin-left: 30px;
 background-color: rgb(64, 34, 2);
 color: rgb(192, 242, 205);
 font-size: 1.5rem;

}

.orders-display .double-button:hover {
background-color: rgb(192, 242, 205);
color: rgb(64, 34, 2);
}

.display-my-order .double-button {
 margin-left: 30px;
 background-color: rgb(64, 34, 2);
 color: rgb(192, 242, 205);
 font-size: 1.5rem;
}

.display-my-order .double-button:hover {
background-color: rgb(192, 242, 205);
color: rgb(64, 34, 2);
}

.new-product-form .double-button {
 margin-left: 30px;
 background-color: rgb(64, 34, 2);
 color: rgb(192, 242, 205);
 font-size: 1.5rem;
}

.new-product-form .double-button:hover {
background-color: rgb(192, 242, 205);
color: rgb(64, 34, 2);
}

.new-category-form .double-button {
 margin:auto 30px;
 background-color: rgb(64, 34, 2);
 color: rgb(192, 242, 205);
 font-size: 1.2rem;
}

.new-category-form .double-button:hover {
background-color: rgb(192, 242, 205);
color: rgb(64, 34, 2);
}
