// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body small {
  color: slategrey;
}

.page-header {
  max-width: 100%;
  background: image-url('desserts.jpg');
  background-repeat: no-repeat;
  border-bottom: 60px rgb(207, 77, 88);
  margin-bottom: 60px;
}
