<<<<<<< Updated upstream
TO BE DELETED
=======
<!-- <h3>Post a comment</h3>

 <%= form_for @review, url: @action do |f| %>

  <%= f.select :rating, [[1],[2],[3],[4],[5]], :prompt => 'Select a rating'%>

  <%= f.label :Review %>
  <%= f.text_field :content %>
<% end %> -->
>>>>>>> Stashed changes
